@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Copse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color: black;
    --heading-color: rgba(117, 27, 27, 0.897);
    --heading-font-style: "Lexend Deca", sans-serif;
    --title-font-style:"Bebas Neue", sans-serif;
    --gradient-color:linear-gradient(#e3bc51,#c29b32);
    --buynow-style: "Lora", serif;

}
.page3{
    width: 100vw;
    height: 100vh;
    /*background-color: pink;*/
    background: linear-gradient(#e3bc51,#c29b32);
    position: relative;
    overflow-y: scroll;
}
/*top box content*/
.top{
    position: fixed;
    width: 100vw;
    background: linear-gradient(#e3bc51,#c29b32);
    /*background-color: rgb(236, 4, 4);*/ 
    /*background: linear-gradient(#ffb347,#ffcc33);*/
    top: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
}
/*#icon{
    padding-left: 500px;
}*/
.top>h1{
    font-family: "Smooch Sans", sans-serif;;
    font-size: 25px;
    padding-left: 540px;
    color: var(--text-color);
}
.flicker{
    color: #fff;
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 40px #fff;
    animation: neon-flicker 1.5s infinite;

}
@keyframes neon-flicker{
    0%,100%{
        opacity: 1;
    }
    10%,30%,50%,70%{
        opacity: 0.5;
    }
    20%,60%{
        opacity: 0.1;
    }
}
/*nav bar designs*/
.nav{
    position: fixed;
    width: 100vw;
    height: 70px;
    background-color: white;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
     
}
.nav>h4{
    padding: 0px 50px;
    font-size: 17px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;

}
.nav>h4:hover{
    transform: scale(1.5);
    cursor: pointer;
    color: brown;

}
.nav_icons{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 30px;
}
.nav_icons i:hover{
    transform: scale(1.2);
    cursor: pointer;

}
.nav h4 a{
    text-decoration: none;
    color: inherit;
}

/*logo design*/
#logo{
    transition: 1s;
    
}
#logo:hover{
    transform: scale(1.5) rotateY(360deg);  
}
.nav_icons a{
    text-decoration: none;
    color: inherit;
}
/*Haircare drop-down starts here*/
.haircare{
    position: relative;
    padding: 0 50px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}
.dropdown-menu{
    display: none;
    position: absolute;
    top:20px;
    left: 0;
    width: 220px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 100;
}
.dropdown-menu a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 12px 15px;
    font-size: 16px;
}
.dropdown-menu a:hover{
    background-color: #f5f5f5;
    cursor: pointer;
    color: #c29b32;
}
.haircare:hover .dropdown-menu{
    display: block;
}
/*skincare drop-down starts here*/
.skincare{
    position: relative;
    padding: 0 50px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}
.dropdown-menu{
    display: none;
    position: absolute;
    top:20px;
    left: 0;
    width: 220px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 100;
}
.dropdown-menu a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 12px 15px;
    font-size: 16px;
}
.dropdown-menu a:hover{
    background-color: #f5f5f5;
    cursor: pointer;
    color: #c29b32;
}
.skincare:hover .dropdown-menu{
    display: block;
}
/*video content*/
 .video-section1{
    margin-top:110px;
    
}
.video-section1 video{
    display: block;
}
/*skincarecontainer container design*/
.skincarecontainer{
    width: 100%;
    height: 600px;
    /* background-color: rgb(251, 255, 254); */
    background-color: white;
    margin-top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*skincare container first two lines design*/
.skincarecontainer h1{
    padding: 30px 525px;
    font-family: var(--heading-font-style);
    font-size: 40px;
}
.skin p{
    margin-left: 630px;
    margin-top: -20px;
    font-family: "Playwrite GB J", cursive;
    font-size: 18px;
    color: brown;
}


/*skin-sellers products box & below pp name alignment*/
.skincarecontainer .skinproducts{
  display: flex;
  justify-content:space-evenly;
  margin-top: 50px;
}

/*skin products box size*/
.skinproducts>.box{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.skinproducts>.box:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/*best-sellers box image arrangements*/
.box1 img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.box2 img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px; 
}
.box3 img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.box4 img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.box5 img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
/*.products{
   display: flex;
   justify-content: space-evenly;
   gap: 30px;
}
.box{ 
    width: 250px;
    text-align: center;
}*/

/*box below pp name design*/
.box>p{
    font-size: 2rem;
    margin-top: 10px;
    font-family: var(--title-font-style);
    text-align: center;
}
.box>p:nth-child(odd){
    font-size: 18px;
    margin-top: 0px;
    font-family: var(--heading-font-style);
    color: var(--heading-color);
    margin-left: -10px;
}

/*Buy now design*/
.cart{
    background:white;
    color: black;
    border:2px solid black;
    padding:8px 30px;
    border-radius:40px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
    margin-top: 10px;
    margin-left: 60px;
    font-family: var(--buynow-style);
}

.cart:hover{
    background: #c29b32;
}
 
.cart a{
    text-decoration: none;
    color: black;
}
.cart a:hover{
    color: white;
}

/* slidepics design starts here*/
.slidepics{
    width: 100%;
    height: 600px;
    background-color: white;
    margin-top: 0px;
    overflow-y: hidden;
    scrollbar-width: none;
}
.slide-imgs{
    margin-top: 70px;
    display: flex;
    width: max-content;
    animation: scroll 40s linear  infinite;
}
.slide-imgs img{
    width: 768px;
    height: 432px;
    padding: 0px 2px;
    transition: 0.4s;
    border-radius: 10px;
}
.slide-imgs:hover{
    animation-play-state: paused;
}
.slide-imgs img:hover{
    transform: scale(1.3);
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}
/*footer design starts here*/
.footer{
    width: 100%;
    min-height: 380px;
    margin-top: 0px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /*background: linear-gradient(rgb(239, 233, 233),#DDEFBB);*/
   background-color: black;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;

}
/*footer logo & brand name*/
.linkinfo{
    width: 250px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 100px;
}
.linkinfo img{
    height: 150px;
    width: 150px;
    margin-left: 22px;
    
}
.linkinfo h5{
    color: white;
    font-size: 15px;
    font-family: "Oswald", sans-serif;
    padding-left: 20px;
}
.linkinfo h6{
    color: #e3bc51;
    font-size: 15px;
    font-family: "Oswald", sans-serif;
    padding-left: 40px;
}
/*products list container*/
.plist{
    width: 170px;
    height: 250px;
    /*background-color: rgb(77, 67, 67);*/
    margin: 60px;
    
}
.plist h6{
    color: #e3bc51;
    margin: 20px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.plist p{
    padding: 10px 20px;
    font-family: var(--heading-font-style);
    color: white;
}
.plist a{
    text-decoration: none;
    color: inherit;
}

/*Quicklinks container*/
.quicklinks{
    width: 210px;
    height: 290px;
    /*background-color: rgb(77, 67, 67);*/
    margin: 60px;
    /*border: 1px solid white;*/
}
.quicklinks h6{
    color: #e3bc51;
    margin: 18px 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.quicklinks p{
    padding: 10px 10px;
    font-family: var(--heading-font-style);
    color: white;
    font-size: 16px;

}
.quicklinks a{
    text-decoration: none;
    color: inherit;
}

/* contact us container*/
.contactus{
    width: 310px;
    height: 290px;
    /*background-color: rgb(77, 67, 67);*/
    margin: 60px;
    /*border: 1px solid white;*/
}
.contactus h6{
    color: #e3bc51;
    margin: 20px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

}
.contactus i{
    padding-top: 10px;
    padding-left: 20px;
}
.contactus span{
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    font-family: "Open Sans", sans-serif;
}
#c2{
    padding-top: 20px;
}
.contactus p{
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    font-family: "Open Sans", sans-serif;
}
/*follow us content alignment*/
#h6{
    color: #e3bc51;
    margin-top: 28px;
    margin-left:20px;
    margin-right:20px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
/* Insta icon hover & href link design*/
#c3{
    padding-left: 22px;
    transition: transform 0.3s linear;
}
 #c3:hover,
 #c3:focus{
    cursor: pointer;
    transform: scale(1.2);  
 }
#c4{
    padding-left: 28px;
}
#c5{
    padding-left: 28px;
}
/*Youtube icon hover & href link design*/
#c6{
    padding-left: 28px;
    transition: transform 0.3s linear;
}
 #c6:hover,
 #c6:focus{
    cursor: pointer;
    transform: scale(1.2);  
}

 /* whatsapp qr design*/
.qr{
    width: 150px;
    height: 190px;
    /*background-color: rgb(77, 67, 67);*/
    margin-left: -10px;
    margin-top: 100px;
    /*border: 1px solid white;*/
 }
 .qr img{
   width: 150px;
   height: 190px;
   object-fit: cover;
 }

 /*below footer license container*/
  
.license{
    width: 100%;
    height: 30px;
    background-color: black;
    border-top: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}
.license p{
    /* padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 600px; */
    padding: 5px 0;
    text-align: center;
}



/* Media query starts here*/


/*top and nav bar mq starts here*/

/* 
   XS DEVICES (0px - 575.98px)
 */
@media (max-width: 575.98px){

    .top{
        height: 40px;
        justify-content: center;
    }

    .top>h1{
        padding-left: 0;
        font-size: 14px;
        text-align: center;
    }

    .nav{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        top: 40px;
        position: fixed;
        background-color: pink;
    }

    #logo{
        width: 55px;
        height: 55px;
        margin-top: 8px;
    }

    .nav>h4{
        padding: 8px 3px;
        font-size: 10px;
    }

    .nav_icons{
        margin-left: -4px;
        margin-top: 2px;
        margin-bottom: 10px;
        position: relative;
        gap: 5px;
    }

    

}

/* 
   SM DEVICES (576px - 767.98px)
 */
@media (min-width:576px) and (max-width:767.98px){

    .top{
        justify-content:center;
    }

    .top>h1{
        padding-left:0;
        font-size:18px;
        text-align:center;
    }

    .nav{
        /* height:auto;
        flex-direction:column;
        top:50px;
        padding:10px 0; */
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        top: 40px;
        position: fixed;
        background-color: slateblue;
    }

    #logo{
        width:60px;
        height:60px;
    }

    .nav>h4{
        padding:8px 10px;
        font-size:10px;
    }

    .nav_icons{
        margin-left:0;
        margin-top:2px;
        margin-bottom: 10px;
        position: relative;
    }

    

}

/* 
   MD DEVICES (768px - 991.98px)
 */
@media (min-width:768px) and (max-width:991.98px){

    .top{
        justify-content:center;
    }

    .top>h1{
        padding-left:0;
        font-size:20px;
    }

    .nav{
        flex-wrap:wrap;
        height:auto;
        padding:10px;
    }

    #logo{
        width:100px;
        height:100px;
    }

    .nav>h4{
        padding:10px 20px;
        font-size:15px;
    }

    .video-section{
        margin-top:180px;
    }

}

/* 
   LG DEVICES (992px - 1199.98px)
 */
@media (min-width:992px) and (max-width:1199.98px){

    .top>h1{
        padding-left:0;
        width:100%;
        text-align:center;
        font-size:22px;
    }

    .nav>h4{
        padding:0 20px;
        font-size:15px;
    }

    #logo{
        width:100px;
        height:100px;
    }

    .nav_icons{
        margin-left:15px;
    }

}

/* 
   XL DEVICES (1200px - 1399.98px)
 */
@media (min-width:1200px) and (max-width:1399.98px){

    .top>h1{
        padding-left:0;
        width:100%;
        text-align:center;
    }

    .nav>h4{
        padding:0 30px;
    }

}

/* 
   XXL DEVICES (1400px and above pxs)
    
 */
@media (min-width:1400px){

    /* No changes needed*/

}

/* Drop down media query for haircare,skincare starts here*/

/*   XS   */
@media (max-width:575.98px){

    .haircare,
    .skincare{
        width:10%;
        text-align:center;
        padding:4px 2px;
        font-size: 8px;
        position: relative;
    }

    .dropdown-menu{
        position:absolute;
        width:160px;
        box-shadow:none;
        margin-top: 10px;
    }

    .dropdown-menu a{
        font-size:14px;
        padding:8px 0;
        text-align:center;

    }

}


/*   SM   */
@media (min-width:576px) and (max-width:767.98px){

    .haircare,
    .skincare{
        /* width:100%;
        text-align:center;
        padding:10px 0; */
        width:10%;
        text-align:center;
        padding:4px 2px;
        font-size: 10px;
        position: relative;
    }

    .dropdown-menu{
        position:absolute;
        width:160px;
        box-shadow:none;
        margin-top: 10px;
    }

    .dropdown-menu a{
        font-size:15px;
        padding:10px 0;
        text-align:center;
    }

}


/*   MD   */
@media (min-width:768px) and (max-width:991.98px){

    .haircare,
    .skincare{
        padding:0 20px;
    }

    .dropdown-menu{
        width:200px;
    }

}


/*   LG   */
@media (min-width:992px) and (max-width:1199.98px){

    .haircare,
    .skincare{
        padding:0 30px;
    }

}


/*   XL   */
@media (min-width:1200px) and (max-width:1399.98px){

    .haircare,
    .skincare{
        padding:0 40px;
    }

}


/*   XXL   */
@media (min-width:1400px){

    .haircare,
    .skincare{
        padding:0 50px;
    }

}


/* video section mq starts here*/

/*   XS : 0px - 575.98px   */

@media (max-width:575.98px){

    .video-section1{
        margin-top:120px;
    }

    .video-section1 video{
        width:100%;
        height:auto;
        display:block;
    }

}


/*   SM : 576px - 767.98px   */

@media (min-width:576px) and (max-width:767.98px){

    .video-section1{
        margin-top:100px;
    }

    .video-section1 video{
        width:100%;
        height:auto;
        display:block;
    }

}


/*   MD : 768px - 991.98px   */

@media (min-width:768px) and (max-width:991.98px){

    .video-section1{
        margin-top:200px;
    }

    .video-section1 video{
        width:100%;
        height:auto;
        display:block;
    }

}


/*   LG : 992px - 1199.98px  */

@media (min-width:992px) and (max-width:1199.98px){

    .video-section1{
        margin-top:120px;
    }

    .video-section1 video{
        width:100%;
        height:auto;
        display:block;
    }

}


/*   XL : 1200px - 1399.98px   */

@media (min-width:1200px) and (max-width:1399.98px){

    .video-section1 video{
        width:100%;
        height:auto;
        display:block;
    }

}


/*   XXL : 1400px and above  pxs */

@media (min-width:1400px){

    .video-section1{
        margin-top:110px;
    }

    .video-section1 video{
        width:1513px;
        height:470px;
        display:block;
    }

}

/* skincare container mq starts here*/

/*   XS : 0px - 575.98px   */

@media (max-width:575.98px){

    .skincarecontainer{
        height:auto;
        padding-bottom:40px;
    }

    .skincarecontainer h1{
        padding:20px 0;
        text-align:center;
        font-size:28px;
    }

    .skin p{
        margin:0;
        text-align:center;
        font-size:14px;
    }

    .skincarecontainer .skinproducts{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:150px;
        margin-top:30px;
        margin-bottom: 90px;
    }

}


/*   SM : 576px - 767.98px   */

@media (min-width:576px) and (max-width:767.98px){

    .skincarecontainer{
        height:auto;
        padding-bottom:20px;
    }

    .skincarecontainer h1{
        padding:20px 0;
        text-align:center;
        font-size:32px;
    }

    .skin p{
        margin:0;
        text-align:center;
        font-size:15px;
    }

    .skincarecontainer .skinproducts{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:150px 30px;
        margin-top:30px;
        margin-bottom: 110px;
    }

}


/*   MD : 768px - 991.98px   */

@media (min-width:768px) and (max-width:991.98px){

    .skincarecontainer{
        height:auto;
        padding-bottom:20px;
    }

    .skincarecontainer h1{
        padding:25px 0;
        text-align:center;
        font-size:36px;
    }

    .skin p{
        margin:0;
        text-align:center;
        font-size:16px;
    }

    .skincarecontainer .skinproducts{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:150px 45px;
        margin-top:30px;
        margin-bottom: 120px;
    }

}


/*   LG : 992px - 1199.98px   */

@media (min-width:992px) and (max-width:1199.98px){

    .skincarecontainer{
        height:auto;
        padding-bottom:20px;
    }

    .skincarecontainer h1{
        padding:30px 0;
        text-align:center;
        font-size:38px;
    }

    .skin p{
        margin:0;
        text-align:center;
        font-size:17px;
    }

    .skincarecontainer .skinproducts{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:150px 45px;
        margin-top:40px;
        margin-bottom: 120px;
    }

}


/*   XL : 1200px - 1399.98px   */

@media (min-width:1200px) and (max-width:1399.98px){

    .skincarecontainer{
        height:auto;
        padding-bottom:20px;
    }

    .skincarecontainer h1{
        padding:30px 0;
        text-align:center;
    }

    .skin p{
        margin:0;
        text-align:center;
    }

    .skincarecontainer .skinproducts{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:150px 20px;
        margin-top:40px;
        margin-bottom: 120px;
    }

}


/*   XXL : 1400px and above  pxs */

@media (min-width:1400px){

    .skincarecontainer h1{
        padding:30px 490px;
    }

    .skin p{
        margin-left:610px;
        margin-top:-20px;
    }

}

/* slide pics design mq starts here*/

/*   XS : 0px - 575.98px   */

@media (max-width:575.98px){

    .slidepics{
        height:auto;
        overflow:hidden;
    }

    .slide-imgs{
        margin-top:30px;
    }

    .slide-imgs img{
        width:100vw;
        height:auto;
        padding:0;
        border-radius:0;
    }

}


/*   SM : 576px - 767.98px   */

@media (min-width:576px) and (max-width:767.98px){

    .slidepics{
        height:auto;
        overflow:hidden;
    }

    .slide-imgs{
        margin-top:40px;
    }

    .slide-imgs img{
        width:100vw;
        height:auto;
        padding:0;
        border-radius:0;
    }

}


/*   MD : 768px - 991.98px   */

@media (min-width:768px) and (max-width:991.98px){

    .slidepics{
        height:auto;
    }

    .slide-imgs{
        margin-top:50px;
    }

    .slide-imgs img{
        width:700px;
        height:auto;
    }

}


/*   LG : 992px - 1199.98px   */

@media (min-width:992px) and (max-width:1199.98px){

    .slidepics{
        height:auto;
    }

    .slide-imgs{
        margin-top:60px;
    }

    .slide-imgs img{
        width:900px;
        height:auto;
    }

}


/*   XL : 1200px - 1399.98px   */

@media (min-width:1200px) and (max-width:1399.98px){

    .slidepics{
        height:auto;
    }

    .slide-imgs img{
        width:1000px;
        height:auto;
    }

}


/*   XXL : 1400px and above   */

@media (min-width:1400px){

    .slidepics{
        height:600px;
    }

    .slide-imgs{
        margin-top:70px;
    }

    .slide-imgs img{
        width:768px;
        height:432px;
        padding:0 2px;
        border-radius:10px;
    }

}

/*footer and license mq starts here*/

/*   XS (0px - 575.98px)   */
@media (max-width:575.98px){

.footer{
    min-height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
    padding:40px 0;
    
}

.linkinfo,
.plist,
.quicklinks,
.contactus,
.qr{
    margin:0;
    text-align:center;
}

.linkinfo img{
    margin-left:0;
}

.contactus i,
.contactus span,
.contactus p{
    padding-left:0;
}

.license{
    height:auto;
}

.license p{
    text-align:center;
    padding:15px;
}

}


/*   SM (576px - 767.98px)   */
@media (min-width:576px) and (max-width:767.98px){

.footer{
    min-height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
    padding:40px 0;
}

.linkinfo,
.plist,
.quicklinks,
.contactus,
.qr{
    margin:0;
    text-align:center;
}

.linkinfo img{
    margin-left:0;
}

.contactus i,
.contactus span,
.contactus p{
    padding-left:0;
}

.license{
    height:auto;
}

.license p{
    text-align:center;
    padding:15px;
}

}


/*   MD (768px - 991.98px)   */
@media (min-width:768px) and (max-width:991.98px){

.footer{
    min-height:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    gap:40px;
    padding:40px 0;
}

.linkinfo,
.plist,
.quicklinks,
.contactus,
.qr{
    margin:0;
}

.license p{
    text-align:center;
}

}


/*   LG (992px - 1199.98px)   */
@media (min-width:992px) and (max-width:1199.98px){

.footer{
    min-height:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    gap:40px;
    padding:40px 0;
}

.linkinfo,
.plist,
.quicklinks,
.contactus,
.qr{
    margin:20px;
}

.license p{
    text-align:center;
}

}


/*   XL (1200px - 1399.98px)   */
@media (min-width:1200px) and (max-width:1399.98px){

.footer{
    min-height:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

.license p{
    text-align:center;
}

}


/*   XXL (1400px and above)   */
@media (min-width:1400px){

.footer{
    display:flex;
    flex-direction:row;
}

.license p{
    text-align:center;
}

}
